{
  "swagger": "2.0",
  "info": {
    "description": "This is a work-in-progress definition for the SendBird Platform API.",
    "version": "0.0.1",
    "title": "SendBird Platform"
  },
  "host": "api.sendbird.com",
  "basePath": "/v3",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/open_channels": {
      "get": {
        "tags": [
          "Open Channels"
        ],
        "summary": "Get a list of all Open Channels",
        "description": "",
        "operationId": "openChannels_getAll",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ChannelList"
            }
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/group_channels": {
      "get": {
        "tags": [
          "Group Channels"
        ],
        "summary": "Get a list of all Group Channels",
        "description": "",
        "operationId": "groupChannels_getAll",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ChannelList"
            }
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Group Channels"
        ],
        "summary": "Create a new group channel",
        "description": "",
        "operationId": "groupChannels_create",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateGroupChannelInput"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Channel"
            }
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/group_channels/{channel_url}": {
      "get": {
        "tags": [
          "Group Channels"
        ],
        "summary": "Get a channel by URL",
        "description": "",
        "operationId": "groupChannels_getById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "channel_url",
            "in": "path",
            "description": "The unique identifier for the channel",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Channel"
            }
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/group_channels/{channel_url}/members/{user_id}": {
      "get": {
        "tags": [
          "Group Channels"
        ],
        "summary": "Check if a user is a member of a Group Channel",
        "description": "",
        "operationId": "groupChannels_checkIfMember",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "channel_url",
            "in": "path",
            "description": "The URL for the channel",
            "required": true,
            "type": "string"
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "The URL for the user",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "boolean"
            }
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/group_channels/{channel_url}/invite": {
      "post": {
        "tags": [
          "Group Channels"
        ],
        "summary": "Invite members to a Group Channel",
        "description": "",
        "operationId": "groupChannels_inviteMembers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "channel_url",
            "description": "The unique identifier for the channel",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "List of IDs of users to invite",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InviteUsersInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Channel"
            }
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/group_channels/{channel_url}/freeze": {
      "put": {
        "tags": [
          "Group Channels"
        ],
        "summary": "Invite members to a Group Channel",
        "description": "",
        "operationId": "groupChannels_freeze",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "channel_url",
            "description": "The unique identifier for the channel",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FreezeChannelInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Channel"
            }
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/users": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create a new user",
        "description": "",
        "operationId": "users_create",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUserInput"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/users/{user_id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get a user by ID",
        "description": "",
        "operationId": "users_getById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "The unique identifier for the user",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "401": {
            "description": "No user found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/{channel_type}/{channel_url}/messages": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send a message",
        "description": "",
        "operationId": "messages_sendMessage",
        "parameters": [
          {
            "name": "channel_type",
            "in": "path",
            "description": "Specifies the type of the channel. Either open_channels or group_channels.",
            "required": true,
            "type": "string",
            "enum": [
              "open_channels",
              "group_channels"
            ]
          },
          {
            "name": "channel_url",
            "in": "path",
            "description": "The unique identifier for the channel",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendMessageInput"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "Api-Token",
      "in": "header"
    }
  },
  "definitions": {
    "Channel": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "member_count": {
          "type": "integer"
        },
        "custom_type": {
          "type": "string"
        },
        "is_ephemeral": {
          "type": "boolean"
        },
        "channel_url": {
          "type": "string"
        },
        "created_at": {
          "type": "integer",
          "format": "int64"
        },
        "cover_url": {
          "type": "string"
        },
        "freeze": {
          "type": "boolean"
        },
        "max_length_message": {
          "type": "integer"
        },
        "data": {
          "type": "string"
        },
        "operators": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ChannelList": {
      "type": "object",
      "properties": {
        "channels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Channel"
          }
        }
      }
    },
    "CreateGroupChannelInput": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "channel_url": {
          "type": "string"
        },
        "cover_url": {
          "type": "string"
        },
        "cover_file": {
          "type": "string"
        },
        "custom_type": {
          "type": "string"
        },
        "data": {
          "type": "string"
        },
        "user_ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operater_ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "is_distinct": {
          "type": "boolean"
        },
        "is_public": {
          "type": "boolean"
        },
        "is_ephemeral": {
          "type": "boolean"
        }
      }
    },
    "InviteUsersInput": {
      "type": "object",
      "properties": {
        "user_ids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "user_id": {
          "type": "string"
        },
        "nickname": {
          "type": "string"
        },
        "profile_url": {
          "type": "string"
        },
        "access_token": {
          "type": "string"
        },
        "is_active": {
          "type": "boolean"
        },
        "is_online": {
          "type": "boolean"
        },
        "last_seen_at": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "CreateUserInput": {
      "type": "object",
      "properties": {
        "user_id": {
          "type": "string"
        },
        "nickname": {
          "type": "string"
        },
        "profile_url": {
          "type": "string"
        },
        "issue_access_token": {
          "type": "boolean"
        }
      }
    },
    "SendMessageInput": {
      "type": "object",
      "properties": {
        "message_type": {
          "type": "string",
          "enum": [
            "MESG",
            "FILE",
            "ADMM"
          ]
        },
        "message": {
          "type": "string"
        },
        "is_silent": {
          "type": "boolean",
          "default": false
        },
        "custom_type": {
          "type": "string"
        },
        "data": {
          "type": "string"
        },
        "send_push": {
          "type": "boolean",
          "default": true
        }
      }
    },
    "FreezeChannelInput": {
      "type": "object",
      "properties": {
        "freeze": {
          "type": "boolean"
        }
      }
    },
    "Message": {
      "type": "object",
      "properties": {
        "message_id": {
          "type": "integer",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "enum": [
            "MESG",
            "FILE",
            "ADMM"
          ]
        },
        "custom_type": {
          "type": "string"
        },
        "channel_url": {
          "type": "string"
        },
        "mention_type": {
          "type": "string"
        },
        "mentioned_users": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/User"
          }
        },
        "is_removed": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        },
        "data": {
          "type": "string"
        },
        "created_at": {
          "type": "integer",
          "format": "int64"
        },
        "updated_at": {
          "type": "integer",
          "format": "int64"
        }
      }
    }
  }
}